In [12]:
pip install pandas

Requirement already satisfied: pandas in ./Apps-install/anaconda_new/envs/tensorflow/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in ./Apps-install/anaconda_new/envs/tensorflow/lib/python3.6/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.15.4 in ./Apps-install/anaconda_new/envs/tensorflow/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in ./Apps-install/anaconda_new/envs/tensorflow/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./Apps-install/anaconda_new/envs/tensorflow/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv('/media/tsr/Linux/Projects/Spark/companies.txt', )

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

## Rounds2 Data Manipulation

In [3]:
df = pd.read_csv('/media/tsr/Linux/Projects/Spark/rounds2.csv', encoding='ISO-8859-1')

In [4]:
df.dtypes

company_permalink           object
funding_round_permalink     object
funding_round_type          object
funding_round_code          object
funded_at                   object
raised_amount_usd          float64
dtype: object

In [5]:
df.shape

(114949, 6)

In [6]:
df['company_permalink'] = df['company_permalink'].str.replace('/organization/-', '', case=False, regex=False)

df['company_permalink'] = df['company_permalink'].str.replace('/organization/', '', case=False, regex=False)

In [7]:
df['funding_round_permalink'] = df['funding_round_permalink'].str.replace('/funding-round/', '', regex=False)

In [8]:
df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,fame,9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,qounter,b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,0-6-com,5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [17]:
df.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [20]:
df['company_permalink'].unique()

array(['fame', 'QOUNTER', 'qounter', ..., 'ã\x81eron', 'Ã\x94ASYS-2',
       'ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic'], dtype=object)

In [23]:
df['company_permalink'].unique().shape

(90245,)

In [65]:
funding_type = df['funding_round_type'].value_counts()
funding_type.idxmax()

'venture'

In [255]:
df['company_permalink'] = df['company_permalink'].str.lower()

grouped_sum = df.groupby('company_permalink')['raised_amount_usd'].sum()

highest_company = grouped_sum.idxmax()
highest_amount = grouped_sum.max()

print(f"Company with the highest total funds: {highest_company} (${highest_amount:,.2f})")

Company with the highest total funds: verizon ($30,079,503,000.00)

In [267]:
df['company_permalink'] = df['company_permalink'].str.lower()

grouped_sum = df.groupby('company_permalink')['raised_amount_usd'].sum()
grouped_sum.sort_values(ascending=False).head(9).apply(lambda x: f"{x:,.2f}")

company_permalink
verizon                              30,079,503,000.00
freescale                            17,600,000,000.00
cambridge-technology-group           10,664,943,639.00
uber                                  8,207,450,000.00
clearwire                             5,820,000,000.00
sberbank                              5,800,000,000.00
charter-communications                5,162,513,431.00
cambridge-technology-partners-ctp     5,150,000,000.00
alibaba                               4,812,000,000.00
Name: raised_amount_usd, dtype: object

In [49]:
highest_company_entries = df[df['company_permalink'] == highest_company]
# companies = ['company_permalink', 'raised_amount_usd']
highest_company_entries

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
106561,verizon,21b69a198a07a70bb48ca811709ef04c,debt_financing,NaN,26-01-2010,1.500000e+08
106562,verizon,2bd1f5a0e7b03d7db9af5f714e6b9cdd,debt_financing,NaN,28-02-2014,2.127194e+10
106563,verizon,42008177de80d82a06eb45eb8a75a9dd,debt_financing,NaN,04-03-2010,1.000000e+09
106564,verizon,d93e96a34475247d7902a12c3525b87f,debt_financing,NaN,05-03-2012,3.835050e+09
106565,verizon,fbb999526a72f69c7ac2b5088fb7116a,debt_financing,NaN,01-03-2013,3.822518e+09

In [275]:
df2 = pd.read_csv('tsr-companies.csv')
df2.head(10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012

In [279]:
df2['status'].unique()

array(['operating', 'acquired', 'closed', 'ipo'], dtype=object)